/* Importing font from storage which is used for custom icons on the webpage */
@font-face {
  font-family: "cherpRegular";
  src: url("../assets/fonts/chirp-regular-web.woff");
}
@font-face {
  font-family: "cherpMedium";
  src: url("../assets/fonts/chirp-medium-web.woff");
}
@font-face {
  font-family: "cherpHeavy";
  src: url("../assets/fonts/chirp-heavy-web.woff");
}
@font-face {
  font-family: "cherpBold";
  src: url("../assets/fonts/chirp-bold-web.woff");
}

body {
  font-family: "cherpRegular";
  font-size: 16px;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
/* light mode */
.light {
  background-color: #ffffff;
  color: #000000;
}
/* dark mode */
.dark {
  background-color: #000000;
  color: #ffffff;
  fill: #ffffff;
}

/* header - left section */
.header {
  position: relative;
  flex: 3;
  overflow-y: auto;
  display: flex;
  justify-content: flex-end;
}
.nav {
  max-width: 251px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-top {
  padding: 0 12px;
}
.logo-parent {
  width: 52px;
  height: 56px;
  box-sizing: border-box;
  padding: 2px 0;
  align-items: center;
}
.logo-parent .logo {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 200ms;
}
.logo-parent .logo:hover {
  background-color: rgba(29, 161, 242, 0.1);
  transition: all 200ms;
}
#twitter-logo {
  box-sizing: border-box;
  padding: 20%;
  fill: rgb(29, 161, 242);
}

.nav-link-container {
  box-sizing: border-box;
  width: 100%;
}
.nav-link {
  display: inline-flex;
  box-sizing: border-box;
  font-family: "cherpRegular";
  padding: 12px;
  margin: 4px 0;
  line-height: 24px;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 200ms;
}

.tweet-btn span {
  margin: 0 auto;
}
.nav-link:hover {
  background-color: rgba(1, 1, 1, 0.1);
  transition: all 200ms;
}
.nav-link svg {
  height: 26px;
}
.bold {
  font-family: "cherpBold";
}
.nav-link .link-label {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 16px;
  align-self: center;
}
.tweet-btn {
  width: 100%;
  margin: 2px 0;
  background-color: rgb(29, 161, 242);
  color: white;
  font-size: 17px;
  transition: all 200ms;
}
.tweet-btn:hover {
  background-color: rgb(15, 147, 228);
  transition: all 200ms;
}

.profile {
  width: 100%;
  height: 64px;
  margin: 12px 0;
}
.profile-content {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 9999px;
  height: 100%;
  display: flex;
  cursor: pointer;
  transition: all 200ms;
}
.profile-content:hover {
  background-color: rgba(1, 1, 1, 0.1);
  transition: all 200ms;
}
.profile-content img {
  height: 100%;
  border-radius: 9999px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 12px;
}
.user-info h4 {
  font-family: "cherpBold";
  margin-bottom: 4px;
}
.user-info .username {
  color: rgb(83, 100, 113);
}
.profile-content svg {
  width: 47px;
  fill: black;
  height: 1.25em;
  align-self: center;
  justify-self: end;
}
.main-body {
  display: flex;
  position: relative;
  overflow: hidden;
  flex: 7;
  border-radius: 20px;
  height: 100vh;
}
.section-feed-trending {
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
  max-width: 990px;
  width: 100%;
  content: "";
}
.section-feed-trending::-webkit-scrollbar {
  width: 0 !important;
}
.section-feed-trending .feed {
  max-width: 598px;
  width: 100%;
}
.section-feed-trending .trending {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-right: 10px;
}
.feed {
  position: relative;
}
#home-bar {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  background-color: white;
  width: inherit;
  border: 1px solid #f1f1f1;
}
.home-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 16px;
  height: 53px;
}
.home-content h4 {
  color: rgb(15, 20, 25);
  font-size: 20px;
  font-family: "cherpBold";
}
.home-content span {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  transition: all 200ms;
}
.home-content span:hover {
  background-color: #f1f1f1;
  transition: all 200ms;
}
.home-content span svg {
  fill: black;
  width: 20px;
}
.new-tweet-container {
  box-sizing: border-box;
  display: flex;
  width: inherit;
  height: 118px;
  border: 1px solid #f1f1f1;
  border-top: none;
  padding: 4px 16px 10px;
}
.dp {
  margin-right: 12px;
}
.dp img {
  width: 48px;
  border-radius: 9999px;
}
.tweet-content {
  display: flex;
  max-width: 506px;
  flex-direction: column;
}
.tweet-content input {
  border: none;
  padding: 0;
  height: 56px;
  font-size: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 48px;
}
.tweet-content input:focus {
  outline: none;
}
.left-link {
  display: flex;
  box-sizing: border-box;
  margin-top: 12px;
  margin-left: -9px;
}
.left-link .link-outline {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 9999px;
  width: 36px;
  height: 36px;
}
.left-link .link-outline:hover {
  background-color: rgba(15, 147, 228, 0.1);
}
.link-outline svg {
  box-sizing: border-box;
  width: 20px;
  fill: rgb(29, 161, 242);
}
.tweet-btn-top {
  font-size: 16px;
  background-color: rgb(29, 161, 242);
  font-family: "cherpBold";
  color: white;
  margin-top: 12px;
  width: 78px;
  height: 36px;
  border: none;
  border-radius: 9999px;
  transition: all 200ms;
  cursor: pointer;
}
.tweet-btn-top:hover {
  background-color: rgb(15, 147, 228);
  transition: all 200ms;
}
.tweet-data {
  box-sizing: border-box;
  width: inherit;
  border: 1px solid #f1f1f1;
  border-top: none;
  padding: 12px 16px;
  display: flex;
}
.dp-tweet {
  margin-right: 12px;
}
.dp-tweet img {
  width: 48px;
  border-radius: 999px;
}
.user-id {
  display: flex;
}
.text-tweet {
  box-sizing: border-box;
  width: 100%;
}
.user-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-id h3 {
  font-size: 15px;
  margin-right: 10px;
  font-family: "cherpBold";
  align-items: center;
}
.user-id .username {
  color: rgb(83, 100, 113);
}
.user-top .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  height: 36px;
  width: 36px;
}
.user-top .more-btn:hover {
  background-color: rgba(15, 147, 228, 0.1);
}
.user-top .more-btn svg {
  height: 20px;
  width: 20px;
}
.text-tweet p {
  font-family: "cherpRegular";
  font-size: 16px;
}
.text-tweet img {
  margin-top: 12px;
  width: inherit;
  border-radius: 25px;
}
.status-options {
  display: flex;
  margin-top: 12px;
}
.status-options .option {
  display: flex;
  width: 25%;
  align-items: center;
  fill: rgb(83, 100, 113);
  color: rgb(83, 100, 113);
  cursor: pointer;
}

.status-options .option p {
  font-size: 14px;
}
.svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  margin-right: 5px;
}
.svg-box svg {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
}

.blue:hover {
  color: rgb(15, 147, 228);
  fill: rgb(15, 147, 228);
}
.blue:hover .svg-box {
  background-color: rgba(15, 147, 228, 0.1);
}
.green:hover {
  color: rgb(23, 191, 99);
  fill: rgb(23, 191, 99);
}
.green:hover .svg-box {
  background-color: rgba(23, 191, 99, 0.1);
}
.red:hover {
  color: rgb(224, 36, 94);
  fill: rgb(224, 36, 94);
}
.red:hover .svg-box {
  background-color: rgba(224, 36, 94, 0.1);
}
@media screen and (max-width: 900px) {
}
